
*,::after ,::before {
    box-sizing: border-box;
  }
  .rounded {
    border-radius: 0.25rem !important;
  }
  .img-fruid {
    max-width: 100%;
    height: auto;
  }
  .img {
    vertical-align: middle;
    border-style: none;
  }
  
  .navigationBar {
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  } 
   
  .jumbotron{
    background: linear-gradient(0deg,#fff
    ,transparent),url('https://placeimg.com/1000/500/tech') no-repeat center;
    background-size:  cover;
  } 
  
  .title-letter{
        font-family: 'Megrim', cursive;
      font-weight: bold;
  } 
  
   :target, .highlight:hover{
    box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
  }
  
  .highlight{
    border: 1;
  }
  
  .social-media-contact a::after{
    margin: 10px;
    display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color:red; */
  } 
  .instagram::after{
    content: url(./media/instagram.svg);
    color:rebeccapurple;
  }
  .facebook::after{
    content: url(./media/facebook.svg);
    text-emphasis-color: white;
  }
  .twitter::after{
    content: url(./media/twitter.svg);
  }
  
  .footer-main-div {
    width:100%;
    height: auto;
    margin: auto;
    background:#212529;
    padding:20px 0px; 
  
  } 
  
  .content-social{
    display: inline-block;
    float: none;
    clear: none;
  }
  
  .facebook {
            
    color:yellowgreen;
  }
  .twitter {
    color:yellowgreen;
  
  }
  .instagram {
    color:yellowgreen;
  }
  
